{% extends "TroiswaFrontBundle::layout-front.html.twig" %}

{% block wrapper %}

    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover" id="detailCart" >
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Prix</th>
                    <th class="text-center">Total</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>

                {% set nombreProductPrice = 0 %}
                {% set totalProductPrice = 0 %}
                {% for tabproduct in products %}
                    <tr class="item-product">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ asset(tabproduct.cover.webpath) }}" alt="" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ tabproduct.title|upper }} </a></h4>
                                    <h5 class="media-heading"> by: <a href="#">{{ tabproduct.description }}</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" class="form-control" id="exampleInputEmail1" value="{{ panier[tabproduct.id].quantity }}">
                            <a href="{{ path('troiswa_front_cart_moins', {id:tabproduct.id}) }}" class="btn btn-warning{% if panier[tabproduct.id].quantity <= 1 %} btn-danger{% endif %}">-</a>
                            <a href="{{ path('troiswa_front_cart_plus', {id:tabproduct.id}) }}" class="btn btn-primary">+</a>

                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ tabproduct.prix  }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong class="price">{{ tabproduct.prix * panier[tabproduct.id].quantity  }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <a href="{{ path('troiswa_front_supp', {id:tabproduct.id}) }}" class="btn btn-danger">
                                 <span class="glyphicon glyphicon-remove"></span> Supprimer
                            </a> </td>
                    </tr>
                    <span id="cart_block_total" class="prix_ajax_cart_total">{% set totalProductPrice = totalProductPrice + tabproduct.prix * panier[tabproduct.id].quantity %} </span><br/>
                {% endfor %}
                <tr>
                    <td> &nbsp; </td>
                    <td> &nbsp; </td>
                    <td> &nbsp; </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong id="total"> {{ totalProductPrice }}</strong></h3></td>
                </tr>
                <tr>
                    <td> &nbsp; </td>
                    <td> &nbsp; </td>
                    <td> &nbsp; </td>
                    <td>
                        <button type="button" class="btn btn-default"> </span> <a href="{{ path('troiswa_front_homepage') }}">
                             <span class="glyphicon glyphicon-shopping-cart">Continue Shopping</span></a></button></td>
                    <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/remove.js') }}"></script>
    <script src="{{ asset('assets_Front/js/cart.js') }}"></script>
{% endblock %}

