{% extends "TroiswaBackBundle::layout_admin.html.twig" %}

{% block title %}
{% endblock %}

{% block h1 %}
    produit
{% endblock %}

{% block fil_ariane %}
    {{ parent() }}
    <li class="active">
        <i class="fa fa-dashboard"></i> voir produits
    </li>

{% endblock %}

{% block content %}

    <a href="{{ path("trois_back_product") }} " class="btn btn-primary">Ajouter un produit</a>
    <a href="{{ path("trois_back_product_active") }} " class="btn btn-primary">Liste produit actif</a>

    <a href="{{ path('trois_back_product_limit', {nb : 1}) }}" class="btn btn-info">1</a>
    <a href="{{ path('trois_back_product_limit', {nb : 3}) }}" class="btn btn-info">3</a>
    <a href="{{ path('trois_back_product_limit', {nb : 10}) }}" class="btn btn-info">10</a>
    <a href="{{ path('trois_back_Product') }}" class="btn btn-info">All</a>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                    <tr>
                        <th>id</th>
                        <th>Titre</th>
                        <th>{{ knp_pagination_sortable(tableauProducts, 'Prix', 'a.prix') }}</th>
                        <th>categorie</th>
                        <th>Etat</th>
                        <th>Marque</th>
                        <th>Photo</th>
                        <th>Action</th>
                    </tr>
              </thead>

                <tbody>
                <h1>Tous les produits </h1>
                {% for unproduct in tableauProducts %}
                    <tr class="active">
                        <td>{{ unproduct.id }}</td>
                        <td>{{  unproduct.title}}</td>
                        <td>{{ unproduct.prix}}</td>
                        <td>{% if unproduct.categ is not null %}
                                {{ unproduct.categ.title}}
                            {% else %}pas de categ{% endif %}</td>
                        <td>

                            {% if unproduct.active == 0 %}
                                <a href="{{ path('trois_back_product_ChangeVisible',{idprod : unproduct.id, active : 1}) }}" class="btn btn-success">OFF</a>
                            {% else %}

                                <a href="{{ path('trois_back_product_ChangeVisible',{idprod : unproduct.id, active : 0}) }}" class="btn btn-success"> ON  </a>
                            {% endif %}
                        </td>
                        <td> {%  if unproduct.ProduitMarque is not null %}
                            {{ unproduct.ProduitMarque.title }}
                            {% else %}
                            Pas de marque pour cet produit
                            {% endif %}
                        </td>

                        <td>

                        </td>

                        <td>
                            <a href="{{ path('trois_back_Product_info', {idprod : unproduct.id} ) }}" class="btn btn-info">voir</a>

                            <a href="{{ path('trois_back_product_editer',{idprod : unproduct.id}) }}" class="btn btn-success">Edite/Modif</a>

                           <!-- <a href=" {#{{ path("trois_back_product_supprimer", {idprod: unproduct.id} ) }} #}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de supprimer le produit?')">supprimer</a> -->

                            <a href="{{ path("trois_back_product_supprimer", {idprod: unproduct.id} ) }}" class="btn btn-danger">supprimer</a>

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
  <!--pour faire la pagination qui vient du bundle knp installer voir le site   --->
    <div class="navigation">
        {{ knp_pagination_render(tableauProducts) }}
    </div>

        {#{% for unProduct in tableauProducts %} #}
       <!-- <ul> -->
           {#  {% if loop.first %}
                Ceci est le premier article
            {% endif %} #}

        <!--    <li>{#{{ unProduct.title|default('Titre par défaut') }}#}</li>
            <li>{#{{ unProduct.description}}#}</li>
            <li><a href={# "{{ path("trois_back_Product_info", { idprod: unProduct.id } ) }}" #}> Page product info</a></li>
        </ul> -->
       {#{% endfor %} #}
      <!-- tableauProducts|length a ètè modifier par tableauProducts.getTotalItemCount venant de la pagination du bundle knp installé  -->

        <p>Le nombre article: {{ tableauProducts.getTotalItemCount }} </p>

        date du jour:  {{ "now"|date("m/d/Y") }}

        Affichage du tableau en sens inverse

        {% for unProduct in tableauProducts|reverse %}
        {{ unProduct.title}}
        {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("assets/js/remove.js") }}"></script>
{% endblock  %}
